<div id="<%= dom_id vendor %>">
  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= vendor.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= vendor.mobile %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= vendor.date %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= vendor.note %>
  </p>

</div>
