

<h1>All Vendors</h1>

<div id="vendors">
 

  <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Date</th>
      <th scope="col">Information</th>
    </tr>
  </thead>
  <tbody>
    <% @vendors.each do |vendor| %>
    <tr>

      
      <td><%= vendor.name %></td>
      <td><%= vendor.email %></td>
      <td><%= vendor.mobile %></td>
      <td><%= vendor.date %></td>
      <td><%= vendor.note %></td>
      <td><%= link_to "Show", vendor , class:"btn btn-primary" %></td>
      
       
    </tr>


    <% end %>
  </tbody>
</table>
</div>


